.title {
    font-family: 'Diplomata SC', cursive;
}

.question {
    font-family: 'BIZ UDPGothic', sans-serif;
}

.answers {
    font-family: 'Beau Rivage', cursive;
    font-size: 1.5em;
}

.question-boxs {
    border: 4mm groove rgba(167, 0, 0, 0.84);
    
    border-image-repeat: round;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left, center, right;

}
.answer-btn{
    max-width: 50%;
}
@media (max-width: 480px) {
    .question-boxs {
        background-image: url('https://images.unsplash.com/photo-1586796676789-f6fe8cc276f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.question-size{
    max-width: 50%;
}
p,
h1 {
    text-shadow: 1px 1px 2px rgba(242, 153, 0, 1);
    color: #F7ECD7;
}


html {
    scroll-behavior: smooth;
}

.wands, .submit {
    -webkit-box-shadow: 1px 10px 10px 5px #E7B42D;
    box-shadow: 1px 5px 10px 5px #E7B42D;
}
 .wands:hover{
    box-shadow: 1px 10px 10px 5px rgb(104, 169, 255);
}

#app {
    background-color: black;
    background-image:
        url('https://images.unsplash.com/photo-1618944913480-b67ee16d7b77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
}
