body {
    width: 100vw;
    height: auto;
    background-image: url(./pokeapp.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(46 23 0 / 50%) !important;
    background-blend-mode: multiply;
}
/* ///////////////////////// */
/* main text styles */
/* ///////////////////////// */
h1 {
    font-size: 10rem !important;
    font-family: 'Ribeye', cursive;
    color: #D5A100;
    text-shadow: -5px 9px 0 #045283, 1px 9px 0 #0075be, 1px -1px 0 #0075be, -1px 1px 0 #022940;

}

h2 {
    font-size: 3.75rem !important;
    font-family: 'Ribeye', cursive;
    color: #D5A100;
    text-shadow: -5px 2px 0 #0075be,
        1px 1px 0 #0075be,
        1px -1px 0 #0075be,
        -1px 1px 0 #0075be;
}

h3 {
    font-size: 3.75rem !important;
    font-family: 'Ribeye', cursive;
    color: #D5A100;
    text-shadow: -5px 2px 0 #0075be,
        1px 1px 0 #0075be,
        1px -1px 0 #0075be,
        -1px 1px 0 #0075be;
}

h5 {
    font-family: 'Lobster', cursive;

}

.name {
    font-size: 1.75rem;
}

/* ///////////////////////// */
/* pokemon main content */
/* ///////////////////////// */
a>img {
    height: 2.5rem !important;
}

.poke-content {
    margin-top: 5rem !important;
}

.card-body {
    padding: 0 !important;
}

ul>li {
    list-style: none;
    font-family: 'Fredoka One', cursive;
}

.card-text>span {
    font-family: 'Fredoka One', cursive;
}

/* ///////////////////////// */
/* search and random */
/* ///////////////////////// */
.blank {
    min-width: 20vw;
    height: 20vh;
    background-color: grey;
}

.outer-screen-col {
    min-width: 20vw;
    height: 20vh;
}

.screen {
    background-color: grey;
    font-size: 1rem;
}

.screen>* {
    background-color: grey;
}

.screen>.card-body {
    width: 50%;
}

.screen,
.blank {
    border: 15px solid rgb(237, 237, 237) !important;
}

.pokeouter {
    height: 65vh;
    margin-top: 15vh;
}

.poke-adj {
    margin-top: 10vh !important;
}
/* ///////////////////////// */
/* pagination */
/* ///////////////////////// */
.pagination {
    display: flex;
    justify-content: center;
}

.highlight_page {
    color: white !important;
    background: rgb(0, 13, 255) !important;
}

.btn {
    background: #2a75bb !important;
    margin: 1px !important;
}

.random-poke, .pokeSearch, .clearText {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* ///////////////////////// */
/* Pokemon card styles */
/* ///////////////////////// */
.gra {
    background: linear-gradient(90deg, rgba(190, 238, 147, 1) 6%, rgba(97, 138, 61, 1) 50%, rgba(174, 223, 132, 1) 98%);
    border: solid .25rem #FFDE00;

}

.ele {
    border: solid .25rem #FFDE00;
    background: rgb(201, 199, 183);
    background: linear-gradient(90deg, rgba(201, 199, 183, 1) 6%, rgba(255, 222, 0, 1) 50%, rgba(157, 137, 0, 1) 98%);
}

.nor {
    border: solid .25rem #FFDE00;
    background: rgb(214, 214, 202);
    background: linear-gradient(90deg, rgba(214, 214, 202, 1) 8%, rgba(161, 161, 145, 1) 50%, rgba(213, 213, 210, 1) 97%);
}

.wat {
    border: solid .25rem #FFDE00;
    background: rgb(180, 200, 247);
    background: linear-gradient(90deg, rgba(180, 200, 247, 1) 8%, rgba(82, 115, 194, 1) 50%, rgba(152, 177, 237, 1) 97%);
}

.ice {
    border: solid .25rem #FFDE00;
    background: rgb(202, 230, 230);
    background: linear-gradient(90deg, rgba(202, 230, 230, 1) 8%, rgba(85, 173, 173, 1) 50%, rgba(209, 238, 238, 1) 97%);
}

.fig {
    border: solid .25rem #FFDE00;
    background: rgb(230, 180, 178);
    background: linear-gradient(90deg, rgba(230, 180, 178, 1) 8%, rgba(192, 48, 40, 1) 50%, rgba(238, 210, 208, 1) 97%);
}

.bug {
    border: solid .25rem #FFDE00;
    background: rgb(231, 236, 194);
    background: linear-gradient(90deg, rgba(231, 236, 194, 1) 8%, rgba(168, 184, 32, 1) 50%, rgba(237, 242, 194, 1) 97%);
}

.gro {
    border: solid .25rem #FFDE00;
    background: rgb(244, 231, 195);
    background: linear-gradient(90deg, rgba(244, 231, 195, 1) 8%, rgba(224, 192, 104, 1) 50%, rgba(255, 240, 200, 1) 97%);
}

.fly {
    border: solid .25rem #FFDE00;
    background: rgb(214, 203, 249);
    background: linear-gradient(90deg, rgba(214, 203, 249, 1) 8%, rgba(114, 88, 193, 1) 50%, rgba(216, 205, 247, 1) 97%);
}

.psy {
    border: solid .25rem #FFDE00;
    background: rgb(255, 191, 210);
    background: linear-gradient(90deg, rgba(255, 191, 210, 1) 8%, rgba(195, 65, 104, 1) 50%, rgba(255, 194, 212, 1) 97%);
}

.roc {
    border: solid .25rem #FFDE00;
    background: rgb(236, 222, 164);
    background: linear-gradient(90deg, rgba(236, 222, 164, 1) 8%, rgba(162, 141, 49, 1) 50%, rgba(255, 244, 199, 1) 97%);
}

.fir {
    border: solid .25rem #FFDE00;
    background: rgb(251, 175, 120);
    background: linear-gradient(90deg, rgba(251, 175, 120, 1) 8%, rgba(195, 94, 21, 1) 50%, rgba(255, 188, 140, 1) 97%);
}

.gho {
    border: solid .25rem #FFDE00;
    background: rgb(174, 155, 205);
    background: linear-gradient(90deg, rgba(174, 155, 205, 1) 8%, rgba(112, 88, 152, 1) 50%, rgba(186, 165, 221, 1) 97%);
}

.dar {
    border: solid .25rem #FFDE00;
    background: rgb(162, 146, 136);
    background: linear-gradient(90deg, rgba(162, 146, 136, 1) 8%, rgba(92, 69, 54, 1) 50%, rgba(162, 146, 136, 1) 97%);
}

.dra {
    border: solid .25rem #FFDE00;
    background: rgb(204, 186, 246);
    background: linear-gradient(90deg, rgba(204, 186, 246, 1) 8%, rgba(112, 56, 248, 1) 50%, rgba(196, 173, 251, 1) 97%);
}

.ste {
    border: solid .25rem #FFDE00;
    background: rgb(134, 134, 152);
    background: linear-gradient(90deg, rgba(134, 134, 152, 1) 8%, rgba(202, 202, 228, 1) 50%, rgba(116, 116, 131, 1) 97%);
}

.fai {
    border: solid .25rem #FFDE00;
    background: rgb(247, 218, 224);
    background: linear-gradient(90deg, rgba(247, 218, 224, 1) 8%, rgba(238, 153, 172, 1) 50%, rgba(249, 204, 214, 1) 97%);
}

.poi {
    border: solid .25rem #FFDE00;
    background: rgb(222, 159, 222);
    background: linear-gradient(90deg, rgba(222, 159, 222, 1) 8%, rgba(160, 64, 160, 1) 50%, rgba(241, 187, 241, 1) 97%);
}